body {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #050816, #020617);
  color: white;
  margin: 0;
}

.container {
  max-width: 720px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 28px;
}

/* CARD NEON GLASS */
.card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(16px);
  border-radius: 18px;
  padding: 16px;
  margin-bottom: 14px;
  border: 1px solid rgba(0,255,200,0.12);
  box-shadow:
    0 0 20px rgba(0,255,200,0.08),
    0 10px 30px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow:
    0 0 30px rgba(0,255,200,0.25),
    0 15px 40px rgba(0,0,0,0.6);
}

/* INPUTS */
input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background: #0f172a;
  color: white;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #00ff88, #00c2ff);
  border: none;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  transform: scale(1.04);
  box-shadow: 0 0 20px rgba(0,255,200,0.4);
}

/* GRÁFICOS NEON */
canvas {
  width: 100% !important;
  height: 260px !important;
  background: rgba(0,0,0,0.2);
  border-radius: 14px;
  padding: 10px;
  filter:
    drop-shadow(0 0 12px rgba(0,255,200,0.25))
    drop-shadow(0 0 25px rgba(0,194,255,0.15));
}
